
/* Inter Regular */
@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url('/fonts/Inter-Regular.woff2') format('woff2'),
	  url('/fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Inter Regular Italic */
@font-face {
  font-family: 'Inter-Italic';
  font-display: swap;
  src: url('/fonts/Inter-Italic.woff2') format('woff2'),
    url('/fonts/Inter-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

/* Inter Bold */
@font-face {
  font-family: 'Inter-Bold';
  font-display: swap;
  src: url('/fonts/Inter-Bold.woff2') format('woff2'),
    url('/fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Inter Bold Italic */
@font-face {
  font-family: 'Inter-Bolditalic';
  font-display: swap;
  src: url('/fonts/Inter-BoldItalic.woff2') format('woff2'),
    url('/fonts/Inter-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
